<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
<div class="page-container">
    <h1>List <span>{{len .Problems}} Problems</span></h1>
    <table style="min-width: 500px;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Day</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {{ range .Problems }}
        <tr>
            <td style=""><b>{{ .Id }}</b></td>
            <td style=""><b>Day {{.Day}}</b></td>
            <td><a href="/solve/day/{{ .Day }}/part/{{ .Part }}">Part {{ .Part }}: {{.Name}}</a></td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>

<style>
    td {
        padding: .2rem 1rem;
    }

    a {
        text-decoration: none;
    }
</style>

<script>
</script>

</html>
